name: Deploy to Azure VM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            set -e

            cd /var/www/html/Proiect-TW

            git fetch --all
            git reset --hard origin/main

            cd backend
            npm ci
            pm2 start index.js --name backend --update-env || pm2 restart backend --update-env

            cd ../frontend
            npm ci
            npm run build

            sudo nginx -t
            sudo systemctl reload nginx

            pm2 save
          EOF
